profiles
{   
    standard {
        process.executor = 'local'
        process.conda = "${HOME}/miniconda3/envs/tpd"
    }

    // Run pipeline on SLURM cluster
    slurm_denglab {
        process.executor = 'slurm'
        process.cpus = 1
        process.memory = '4 GB'
        process.queue = 'normal_q'
        process.time = "12 h"
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        singularity.cacheDir   = "/project/genomics/jru/singularity"
        singularity.runOptions = "--writable-tmpfs -B /project/genomics/jru/data2:/project/genomics/jru/data2 -B /project/genomics/jru/data2/db/dfast:/opt/conda/opt/dfast-1.2.18/db"
        process.container  = "jinlongru/tpd"
    }
}

trace
{   
    enabled = true
    fields = 'task_id,hash,tag,process,status,exit,submit,realtime,%cpu,%mem,peak_rss,peak_vmem'
}

timeline
{
    enabled = true
}


process {
    cache = "lenient"
    
    withLabel: "small" {
        cpus = 1
        memory = "8 GB"
        time = "24 h"
    }

    withLabel: "medium" {
        cpus = 2
        memory = "10 GB"
        time = "24 h"
    }

    withLabel: "big" {
        cpus = 2
        memory = "12 GB"
        time = "24 h"
    }

    withName: "DFAST" {
        cpus = 10
        memory = "120 GB"
        time = "24 h"
    }

    withName: "predict_prophage_phageboost" {
        container = "jinlongru/phageboost"
        cpus = 1
        memory = "20 GB"
        time = "5 h"
    }

    withName: "predict_prophage_phispy" {
        cpus = 1
        memory = "10 GB"
        time = "20 h"
    }

    withName: "predict_CRISPR" {
        cpus = 1
        memory = "8 GB"
        time = "24 h"
        conda = "${HOME}/miniconda3/envs/cctyper"
    }
}

params 
{    
    /*--------------------------------*
     *      GENERAL PARAMETERS
     *--------------------------------*/
    outdir = "result"
    report = "report"
    mode = 'all'         // {all, genome}
    min_contig = 500
    assembler="megahit"  // {spades, megahit}
    qvalue=0.01
    extra_prophage_coord = "false"
    old_prophage_feature_name = "prophage"

    ref_fna = "${baseDir}/ref.fasta"
    ref_gbk = "${baseDir}/ref.gbk"
    // sid_scaffolds.fna without sample id in FASTA header
    datadir = "${baseDir}/data"
    old_prophage_ext = "_old.gbk"

    contig_minlen = 1000
    flank_len = 1000

    // Tools and databases
    db_VOGDB="/project/genomics/jru/data2/db/VOGDB/current/VOGs.hmm"
    desc_VOGDB="/project/genomics/jru/data2/db/VOGDB/current/vog_desc.tsv"

    db_PFAM="/project/genomics/jru/data2/db/PFAM/current/Pfam-A.hmm"
    desc_PFAM="/project/genomics/jru/data2/db/PFAM/current/pfam_desc.tsv"

    db_pVOG="/project/genomics/jru/data2/db/pVOG/current/pVOGs.hmm"
    desc_pVOG="/project/genomics/jru/data2/db/pVOG/current/pvog_desc.tsv"

    db_KEGG="/project/genomics/jru/data2/db/vibrant2/vibrant-1.2.1/db/databases/KEGG_profiles_prokaryotes.HMM"
    desc_KEGG="/project/genomics/jru/data2/db/KEGG/ko2pathway.tsv"

    db_phispy="/project/genomics/jru/data2/db/phispy/pVOGs_VOGDBs.hmm"

    cfg_phigaro="/project/genomics/jru/data2/db/phigaro/config.yml"
}
