profiles
{   
    standard {
        process.executor = 'local'
    }
}

trace
{   
    enabled = true
    fields = 'task_id,hash,tag,process,status,exit,submit,realtime,%cpu,%mem,peak_rss,peak_vmem'
}

timeline
{
    enabled = true
}


process {
    cache = "lenient"
    
    withLabel: "small" {
        executor = "sge"
        clusterOptions = "-V -cwd -R y -pe hmp 1 -S /bin/bash"
    }

    withLabel: "medium" {
        executor = "sge"
        clusterOptions = "-V -cwd -R y -pe hmp 4 -S /bin/bash"
    }

    withLabel: "big" {
        executor = "sge"
        clusterOptions = "-V -cwd -R y -pe hmp 8 -S /bin/bash"
    }
}


params 
{    
    /*--------------------------------*
     *      GENERAL PARAMETERS
     *--------------------------------*/
    outdir = "result"
    report = "report"
    mode = 'all'         // {all, genome}
    min_contig = 500
    assembler="megahit"  // {spades, megahit}
    qvalue=0.01

    contig_minlen = 1000
    flank_len = 1000

    // Tools and databases
    db_VOGDB="${HOME}/data2/db/VOGDB/current/VOGs.hmm"
    desc_VOGDB="${HOME}/data2/db/VOGDB/current/vog_desc.tsv"

    db_PFAM="${HOME}/data2/db/PFAM/current/Pfam-A.hmm"
    desc_PFAM="${HOME}/data2/db/PFAM/current/pfam_desc.tsv"

    db_pVOG="${HOME}/data2/db/pVOG/current/pVOGs.hmm"
    desc_pVOG="${HOME}/data2/db/pVOG/current/pvog_desc.tsv"

    db_KEGG="${HOME}/data2/db/vibrant2/databases/KEGG_profiles_prokaryotes.HMM"
    desc_KEGG="${HOME}/data2/db/KEGG/ko2pathway.tsv"

    db_phispy="${HOME}/data2/db/phispy/pVOGs_VOGDBs.hmm"

    cfg_phigaro="${HOME}/.phigaro/config.yml"
}
