profiles
{   
    standard {
        process.executor = 'local'
    }

    // Run pipeline on SLURM cluster
    hpc_slurm {
        process.executor = 'slurm'
        process.cpus = 1
        process.memory = '1 GB'
        process.queue = 'normal_q'
        process.conda = "${HOME}/miniconda3/envs/tpd"
        process.time = "12 h"
    }

    hpc_sge {
        process.executor = 'sge'
        process.cpus = 1
        process.conda = "${HOME}/conda3/envs/tpd"
    }
}

trace
{   
    enabled = true
    fields = 'task_id,hash,tag,process,status,exit,submit,realtime,%cpu,%mem,peak_rss,peak_vmem'
}

timeline
{
    enabled = true
}


process {
    cache = "lenient"
    
    withLabel: "small" {
        cpus = 2
        memory = "8 GB"
    }

    withLabel: "medium" {
        cpus = 6
        memory = "40 GB"
    }

    withLabel: "big" {
        cpus = 12
        memory = "80 GB"
        time = "24 h"
    }

    withName: "predict_prophage_phigaro" {
        cpus = 6
        memory = "20 GB"
        time = "24 h"
        conda = "${HOME}/miniconda3/envs/phigaro"
    }

    withName: "predict_CRISPR" {
        cpus = 6
        memory = "20 GB"
        time = "24 h"
        conda = "${HOME}/miniconda3/envs/cctyper"
    }
}

params 
{    
    /*--------------------------------*
     *      GENERAL PARAMETERS
     *--------------------------------*/
    outdir = "result"
    report = "report"
    mode = 'all'         // {all, genome}
    min_contig = 500
    assembler="megahit"  // {spades, megahit}
    qvalue=0.01
    extra_prophage_coord = "false"

    ref_fna = "${baseDir}/ref.fasta"
    ref_gbk = "${baseDir}/ref.gbk"
    datadir = "${baseDir}/data"

    contig_minlen = 1000
    flank_len = 1000

    // Tools and databases
    db_VOGDB="${HOME}/data2/db/VOGDB/current/VOGs.hmm"
    desc_VOGDB="${HOME}/data2/db/VOGDB/current/vog_desc.tsv"

    db_PFAM="${HOME}/data2/db/PFAM/current/Pfam-A.hmm"
    desc_PFAM="${HOME}/data2/db/PFAM/current/pfam_desc.tsv"

    db_pVOG="${HOME}/data2/db/pVOG/current/pVOGs.hmm"
    desc_pVOG="${HOME}/data2/db/pVOG/current/pvog_desc.tsv"

    db_KEGG="${HOME}/data2/db/vibrant2/databases/KEGG_profiles_prokaryotes.HMM"
    desc_KEGG="${HOME}/data2/db/KEGG/ko2pathway.tsv"

    db_phispy="${HOME}/data2/db/phispy/pVOGs_VOGDBs.hmm"

    cfg_phigaro="${HOME}/.phigaro/config.yml"
}
